<%- include('lotSelector', { id: "update" }) %>

<div class="table-responsive mt-4" id="time-table">
    <h2 class="mb-4">Parking Occupancy (%)</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th colspan="5">Days</th>
            </tr>
            <tr>
                <th>Times</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <% var days = [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
            ]; %>

            <% var times = [
                { id:'7am', name: '7:00 am' },
                { id:'11am', name: '11:00 am' },
                { id:'2pm', name: '2:00 pm' },
                { id:'4pm', name: '4:00 pm' },
            ]; %>

            <% for (const time of times) { %>
                <tr id="<%= time.id %>">
                <th><%= time.name %></th>
                <% for (const day of days) { %>
                    <td class="p-3">
                        <div style="min-width: 7rem" class="d-flex flex-row align-items-center">
                            <input type="text" name="<%= time.id %>_<%= day %>" id="<%= time.id %>-<%= day %>" class="form-control flex-grow-0 text-end" placeholder="No Data" required>
                            <label for="<%= time.id %>_<%= day %>" class="flex-grow-0 flex-shrink-0 ms-2">% Full</label>
                        </div>

                    </td>
                <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<button class="btn btn-primary" id="update-times">Update</button>


<script>

let lotDays = [
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
];

let lotTimes = [
    '7am',
    '11am',
    '2pm',
    '4pm',
];

let table = $('#time-table');
table.hide();

let updateTimes = $('#update-times');
updateTimes.hide();

var curLotData = null;
var lotIdToUpdate = null;
function updateLot() {
    for (const dayName of lotDays) {
        let hasTimes = false;
        let times = [null, null, null, null];

        // if (dayName in json.days) {
        //     const day = json.days[dayName];
        //     if (day.percentFull) {
        //         times = day.percentFull;
        //     }
        // }

        for (let iTime = 0; iTime < times.length; ++iTime) {
            let timeId = lotTimes[iTime];
            let box = $(`#${timeId}-${dayName}`);
            console.log(box.val());
            let val = box.val();

            if (val && !isNaN(val)) {
                hasTimes = true;
                times[iTime] = val;
            }
        }

        if (!(dayName in curLotData.days)) {
            curLotData.days[dayName] = {
                percentFull: [null, null, null, null]
            };
        }
        
        curLotData.days[dayName].percentFull = times;
    }

    // Post the update.
    fetch(`api/update/${lotIdToUpdate}`, {
        method: 'PATCH',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(curLotData)
    }).then(res => {
        // Repopulate data.
    });
    // console.log('update lot!');
}

updateTimes.click(updateLot);

function updateSelectLot(type, lot, lotId) {
    console.log(`update select ${type}, ${lot} ${lotId}`);
    lotIdToUpdate = lot ? lotId : null;

    if (type && lot) {
        table.show();
        updateTimes.show();

        // Fill in the current time data.
        fetch(`api/get/${lotId}`)
            .then(res => res.json())
            .then(json => {
                console.log(JSON.stringify(json));
                curLotData = json;
                
                for (const dayName of lotDays) {
                    let times = [null, null, null, null];

                    if (dayName in json.days) {
                        const day = json.days[dayName];
                        if (day.percentFull) {
                            times = day.percentFull;
                        }
                    }

                    for (let iTime = 0; iTime < times.length; ++iTime) {
                        let timeId = lotTimes[iTime];
                        let box = $(`#${timeId}-${dayName}`);
                        // console.log(box.val());
                        box.val(times[iTime] ? times[iTime] : "");
                    }
                }
            });
    }
    else {
        table.hide();
        updateTimes.hide();
    }
}
</script>
    